<div class="p-5 bg-body-tertiary rounded-3">
    <div>
        <p class="fs-5">
            Roadmap is a web application for academic advisement, particularly on course planning and progress tracking.
        </p>
        <p>
            Roadmap uses <a href="https://identity.cysun.org/">Alice Identity Service</a> (AIS) to authenticate users.
            To access Roadmap, you must have an AIS account.
        </p>
        @if (User.Identity is { IsAuthenticated: true })
        {
            <a class="btn btn-warning btn-lg" role="button" asp-controller="Account" asp-action="Logout">Logout</a>
        }
        else
        {
            <a class="btn btn-primary btn-lg me-3" role="button" asp-controller="Account" asp-action="Login">Login</a>
        }
    </div>
</div>